/* This line is importing the font 'Roboto'. DO NOT change line 2*/
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
/* Below this line is where you will start your work */
/* It is important to note, you will not be writing any CSS in this file*/
.header {
  width: 100%;
  height: 75px;
  background-color: #cbbf66;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: static;
  top: 0;
  z-index: 2;
}
.header h1 {
  margin: 0;
  font-size: 40px;
}
/*
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
}
*/
.navbar {
  background-color: #e80d0d;
  overflow: hidden;
  height: 60px;
}
.navbar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 14px 16px;
  color: #f2f2f2;
}
.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: #000;
}
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.8;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.8s;
}
.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.4s;
}
.side-nav a:hover {
  color: #ee0404;
}
.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left 0.8s;
  padding: 20px;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 568px) {
  .navbar-nav {
    display: none;
  }
}
.menu-button {
  position: relative;
  left: 20px;
  cursor: pointer;
}
.menu--open {
  display: block;
}
.navbar {
  background-color: #ee0000;
  overflow: auto;
  height: 103px;
}
.navbar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 14px 16px;
  color: #f2f2f2;
}
.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}
.navbar a:hover {
  background-color: #ee0000;
  color: #000;
}
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  background-color: #060606;
  opacity: 0.8;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.8s;
}
.side-nav a {
  padding: 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
  transition: 0.4s;
}
.side-nav a:hover {
  color: #b31111;
}
.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left 0.8s;
  padding-top: 40px;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 568px) {
  .navbar-nav {
    display: none;
  }
}
.articles {
  margin-top: 95px;
}
.article {
  margin: 20px 10%;
  padding: 0 20px 25px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  position: relative;
  height: 50px;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;
}
.article h2 {
  font-size: 28px;
  padding: 0;
  margin: 15px 0 0;
}
.article .date {
  margin: 0;
  font-size: 14px;
}
.article .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.article .expandButton {
  position: absolute;
  bottom: 6px;
  right: 40px;
  font-size: 12px;
  color: #208c43;
  cursor: pointer;
  transform: translate(-50%);
  background-color: #ffffff;
}
.article .closeButton {
  position: absolute;
  justify-content: end;
  bottom: 6px;
  right: 2px;
  font-size: 12px;
  color: #ab1c1c;
  cursor: pointer;
  transform: translate(-50%);
  background-color: #ffffff;
}
.article-open {
  height: 400px;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #cbbf66;
}
